* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .sunheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

.subheader .subheader_call {
    text-align: right;
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}

.subheader .subheader_phone {
    display: block;
    text-align: right;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 178px;
    height: 46px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.12);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.21);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.promo {
    min-height: 800px;
    background: url('../img/bg_main.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

.promo .promo_subheader {
    font-size: 36px;
    color: #ffffff;
    line-height: 36px;
    margin-top: 22px;
}

.promo .promo_descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
    padding: 0 15px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0;
    width: 259px;
    height: 63px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
    text-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.advant {
    position: relative;
    min-height: 900px;
    padding: 71px 0 65px;
}

.advant .advant_header {
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
}

.advant .advant_subheader {
    font-size: 38px;
    color: #222222;
    margin-top: 38px;
    line-height: 38px;
}

.advant .advent_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advant .advant_round {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.advant .advant_icon {
    margin: 0 auto;
}

.advant .advant_title {
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
    line-height: 21px;
}

.advant .advant_descr {
    font-size: 15px;
    font-weight: 300;
    color: #202020;
    text-align: justify;
    line-height: 21px;
}